{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Post Detail {% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-3 col-sm-12">
                <a href="{% url 'post-list' %}" class="btn btn-danger">Back to Feed</a>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-6 col-sm-12 border-bottom pb-3">
                <div class="post-text">
                    <a href="{% url 'profile' post.author.profile.pk %}">
                        <img src="{{ post.author.profile.picture.url }}" class="rounded-circle post-img" height="50"
                             width="50">
                    </a>
                    <h3><a href="{% url 'profile' post.author.profile.pk %}"
                           class="text-primary user-link"><strong>@{{ post.author|title }}</strong></a> - <i>
                        {{ post.created_on|date:"d M Y H:i" }}</i></h3>
                </div>
                <p>{{ post.body|linebreaks }}</p>
                <div class="d-flex flex-row my-2">
                    <form method="POST" action="{% url 'like' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="btn btn-outline-success mx-2" type="submit">
                            <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                        </button>
                    </form>
                    <form method="POST" action="{% url 'dislike' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="btn btn-outline-danger" type="submit">
                            <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                        </button>
                    </form>
                </div>
                {% if request.user == post.author %}
                    <a href="{% url 'post-edit' post.pk %}" class="btn btn-success"><i
                            class="far fa-edit"></i> Edit Post</a>
                    <a href="{% url 'post-delete' post.pk %}" class="btn btn-danger"><i
                            class="fas fa-trash-alt"></i> Delete Post</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            <h5>Add a Comment</h5>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-primary mt-3">Submit!</button>
                </div>
            </form>
        </div>
    </div>
    {% for comment in comments %}
        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-md-5 col-sm-12 border-bottom pb-3">
                <div class="post-text">
                    <a href="{% url 'profile' comment.author.profile.pk %}">
                        <img src="{{ comment.author.profile.picture.url }}" class="rounded-circle post-img" height="50"
                             width="50">
                    </a>
                    <p><a href="{% url 'profile' comment.author.profile.pk %}"
                           class="text-primary user-link"><strong>@{{ comment.author|title }}</strong></a> - <i>
                        {{ comment.created_on|date:"d M Y H:i" }}</i></p>
                </div>
                <p>{{ comment.comment|linebreaks }}</p>
                {% if request.user == comment.author %}
                    <a href="{% url 'comment-delete' post.pk comment.pk %}" class="btn btn-warning"><i
                            class="fas fa-trash-alt"></i> Comment</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}