{% extends 'landing/base.html' %}
{% load custom_tags %}

{% block title %} Profile {% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-3 col-sm-6">
                <a href="{% url 'post-list' %}" class="btn btn-danger">Back to Feed</a>
            </div>
        </div>

        <div class='row justify-content-center mt-5'>
            <div class="card shadow-sm col-md-8 col-sm-12 border border-dark border-bottom px-5 pt-3">
                <div class="text-center">
                    <img src="{{ profile.picture.url }}" alt="" class="rounded-circle" width="120" height="120">
                    {% if profile.name %}
                        <h3 class="">{{ profile.name }}
                            <span>
                        {% if request.user == user %}
                            <a href="{% url 'profile-edit' profile.pk %}" class="default-btn"><i
                                    class="far fa-edit"></i></a>
                        {% endif %}
                    </span>
                        </h3>
                    {% else %}
                        <h3 class="">{{ user.username }}
                            <span>
                        {% if request.user == user %}
                            <a href="{% url 'profile-edit' profile.pk %}" class="default-btn"><i
                                    class="far fa-edit"></i></a>
                        {% endif %}
                    </span>
                        </h3>
                    {% endif %}

                    {% if user == request.user %}
                    {% else %}
                        {% if is_following %}
                            <form action="{% url 'remove-follower' profile.pk %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-outline-danger">Unfollow</button>
                            </form>
                        {% else %}
                            <form action="{% url 'add-follower' profile.pk %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-outline-primary">Follow</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
                {% if profile.bio %}
                    <p><strong>About: </strong>{{ profile.bio }}</p>
                {% endif %}
                {% if profile.birth_date %}
                    <p><strong>Birthday:</strong> {{ profile.birth_date }}</p>
                {% endif %}
                {% if profile.location %}
                    <p><strong>Location: </strong><i>{{ profile.location }}</i></p>
                {% endif %}
                <div class="mb-3">
                    <a href="{% url 'list-followers' profile.pk %}"
                       class="user-link"><strong>Followers: {{ number_of_followers }}</strong></a>
                </div>
                {% if profile.user == request.user %}
                    <div class="mb-3">
                        {% show_notifications %}
                    </div>
                {% endif %}
            </div>
        </div>

        {% for post in posts %}
            <div class="row justify-content-center mt-5">
                <div class="col-md-8 col-sm-12 border-bottom">
                    <div class="post-text">
                        <a href="{% url 'profile' post.author.profile.pk %}">
                            <img src="{{ post.author.profile.picture.url }}" class="rounded-circle post-img" height="30"
                                 width="30">
                        </a>
                        <p><a href="{% url 'profile' post.author.profile.pk %}"
                              class="text-primary user-link">@{{ post.author|title }}</a> - <i>
                            {{ post.created_on|date:"d M Y H:i" }}</i></p>
                    </div>
                    <div class="position-relative">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" class="post-image">
                        {% endif %}
                        <p>{{ post.body|linebreaks }}</p>
                        <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                    </div>
                    <div class="d-flex flex-row my-2">
                        <form method="POST" action="{% url 'like' post.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class="btn btn-outline-success mx-2" type="submit">
                                <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                            </button>
                        </form>
                        <form method="POST" action="{% url 'dislike' post.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class="btn btn-outline-danger" type="submit">
                                <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}