{% load custom_tags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand"
                {% if user.is_authenticated %}
           href="{% url 'post-list' %}"
                {% else %}
           href="{% url 'index' %}"
                {% endif %}
        ><i class="fas fa-comment"></i> Social Network</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <form class="d-flex" method="get" action="{% url 'profile-search' %}">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                           aria-describedby="basic-addon1" name="query" value="{{ request.GET.query }}">
                    <button type="submit" class="btn btn-light btn-outline-danger"><i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{% url 'profile' request.user.profile.pk %}"><i class="fas fa-user"
                                                                                 style='color: white;'></i> {{ request.user.username|title }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{% url 'inbox' %}"><i class="far fa-paper-plane"
                                                       style='color: white;'></i> Inbox
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'account_logout' %}"><i
                                class="fas fa-sign-out-alt"></i> Log Out</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>